body {
  padding-top: 3.6em;
}

/*row 1*/
nav .btn-group {
  margin: 0.8rem 2rem 0 0;
  background-color: #ffffff;
  color: #00008b; 
}

@media(max-width: 48em){
  nav .btn-group {
    position: left;
    top: 0;
    right: 4em;
    background-color: #00008b;
    color: #ffffff; 
  }
}

/*row 2*/
section#intro-header {
  background-image: url(../imgs/sunny.jpg);
  background-size: cover;
}

section#intro-header .wrap-headline {
  position: left;
  padding-top: 20%;
  padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2 {
  color: #333333;
}
section#intro-header h1{
  font-size: 5.5rem;
}

section#intro-header h2 {
  font-size: 2.5rem;
}

section#intro-header hr {
  width: 10%;
}

section#intro-header .btn-default {
  background-color: rgba(255, 255, 255, 1.5);
  border: none;
}

#nav-menu {
  margin-right: 1rem;
  background-color: #ffffff;
  color: #00008b; 
}

/*row3 and row4*/
section#about img {
  margin-top: 6.5rem;
  margin-bottom: 5rem;
  background-color: #fff8f2;
}

section#about h3 {
  margin-top: 10rem;
  background-color: #fff8f2;
}

/*row 5 and row 6*/
section#features {
  background-color: #eef2f5;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
}

section#features * {
  color: #657C8E;
}

section#features .feature {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

section#features .glyphicon {
  font-size: 2rem;
}

section#features .glyphicon-heart {
  color: #E04C4C;
}

section#features .feature-tag {
  max-width: 10.7em;
  display: inline-block;
  text-align: left;
  margin-left: 1.5em;
  font-size: 1.7rem;
}

/*row 7 and row 8*/
section#pricing .center-block {
  width: 90%
}

section#pricing h3.price-headline {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

section#pricing .black-text {
  color: #FFF;
}

section#pricing thead .success {
  background-color: #fff8f2;
}

section#pricing thead .info {
  background-color: #fff8f2;
}

section#pricing thead .danger {
  background-color: #fff8f2;
}

section#pricing tbody .success {
  background-color: #fff8f2;
}

section#pricing tbody .info {
  background-color: #fff8f2;
}

section#pricing tbody .danger {
  background-color: #fff8f2;
}

/* section 9 - newsletter */
section#newsletter {
  /* border-top: 1px solid #fff8f2; */
  padding-top: 3.2em;
  margin-top: 2em;
  background-color: #eef2f5;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
}

section#newsletter h4 {
  padding: 1em;
}

section#newsletter form {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 5.5em;
}

/* footer */
footer {
  background-color: #00008b;
  color: #ADADAD;
  margin-top: 3em;
}

footer h5,
footer img {
  margin-top: 5em;
  font-weight: bold;
}

footer address {
  margin-top: 5em;
  margin-bottom: 5em;
  color: #e5e5e5;
}

footer ul {
  margin-bottom: 5em;
}

footer address strong {
  color: #e5e5e5;
  display: block;
  padding-bottom: 0.62em;
}

footer a {
  font-weight: 300;
  color: #e5e5e5;
}

footer a:hover {
  text-decoration: none;
  color: #FFF;
}

/* section highlight */
section#highlight ul {
  margin: 5rem 0;
}

section#highlight li {
  margin: 0 5rem;
}

section#highlight h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

/*contact page*/
section#contact form {
  padding-top: 9rem;
  padding-bottom: 3rem;
}

.hidden-element {
  display: none;
}
